* {
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    background: #f8f8f8;
    width: 800px;
    height: 100%;
      margin: 0 auto;

}

.container {
    min-height: 100%;

    position: relative;
    background-color: yellow;
  

}


header {
    background-color: #2118FF;
    height: 100px;
}

main {
    background-color: #E1E0E1;
    padding: 10px 10px;

}


footer {
    background-color: #905BAE;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer p {
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}

.body-img {
    width: 100%;
}

h1 {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu li {
    font-style: italic;
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    float: left;
    margin-right: 25px;

}

.menu li a {
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    color: #1896FF;
}

.logo {
    width: 40px;
    float: left;
    margin-left: 10px;
}

hr {
    clear: both;
}

h2,
h3,
h4 {
    color: black;
    font-weight: 400;
    background-color: #eaeaea;
}

h4+p {
    font-color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

p+ul {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.detailed img {
    border-style: solid;
    border-color: black;
}

.detailed img:hover {
    border-style: solid;
    border-color: transparent;
}

.catalog img {
    width: 200px;
}

#email:focus {
    background-color: green;
    color: yellow;
}

.text {
    text-transform: capitalize;
}

.catalog div {
    display: inline-block;
}

.map {
    width: 100%;
    height: 100px;
}

/*p:first-letter {
    font-size: 25px;
    font-family: Arial;
}*/